/* Global Styles */

@import "fonts/inter.css";
@import "colors.css";
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { 
  font-family: 'Inter var', sans-serif; 
  font-feature-settings: 'salt' on, 'ss03' on;
  }
}

body {
  background-color: var(--page-bg);
  color: var(--button-fg);
}

a {
  color: var(--link-fg);
}

h {
  font-weight: 900;
  font-size: 36px;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.link::before {
  content: "← " 
}
.link hover {
  border-bottom: 3px solid var(--button-fg);
}
