@import url('https://rsms.me/inter/inter.css');
@import "colors.css";
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { 
  font-family: 'Inter var', sans-serif; 
  font-feature-settings: 'salt' on, 'ss03' on;
  }
}

body {
  background-color: var(--page-bg);
  color: var(--button-fg);
}

a {
  color: var(--link-fg);
}
.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

/* MAIN PAGE HEADER */
.header, .entry {
  border: 1px solid var(--border);
  box-shadow: 0px 0px 0px 1px var(--outline);
  outline: none;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
}

.header {
  position: relative;
  width: 500px;
  height: 163px;
  background: linear-gradient(251deg, #8c56ff, #4b5dff, #f34bff);
  background-size: 600% 600%;
  animation: headerAnimation 20s ease infinite;
}

@media (prefers-reduced-motion) { .header {animation: none;}}

h {
  font-weight: 900;
  font-size: 36px;
}

.header h {
  color: var(--header-fg);
}

@keyframes headerAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* ENTRY STYLING */
.entry {
  position: relative;
  width: 500px;
  height: 48px;
  background-color: var(--button-bg);
  transition: background 300ms ease-out;
  text-decoration: none;
}

.entry b {
  font-weight: 400;
  color: var(--button-fg);
}

.entry b::after {
  content: "→";
  margin-left: 2px;
  transition: margin 150ms ease-out;
}

.entry:hover b::after, .entry:focus b::after {
  margin-left: 6px;
}

.entry:hover, .entry:focus {
  background-color: var(--hover), var(--button-bg);
}

.entry:focus {
  border-width: 3px;
  border-color: var(--focus-ring);
  transition: border 150ms ease-out;
}

/* FOOTER */
footer p {
 color: var(--button-fg);
 font-size: 14px;
 display: flex;
 opacity: 0.5;
 justify-content: center;
 font-weight: 400;
}

.blurb > * {
  display: flex;
  justify-content: center;
  color: var(--button-fg);
}

.blurb p {
  width: 500px;
  line-height: 1.4;
  display: inline;
}

.blurb .link {
  margin: 6px;
  color: var(--link-fg);
}

.blurb .tip {
  text-decoration: underline dotted;
}

.link::before {
  content: "← " 
}
.link hover {
  border-bottom: 3px solid var(--button-fg);
}
